@font-face {
  font-family: "universal";
  src: url("../../assets/fonts/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
  font-family: "universal m";
  src: url("../../assets/fonts/sf-pro-display_medium.woff2") format("woff2");
}

@font-face {
  font-family: "universal sm";
  src: url("../../assets/fonts/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
  font-family: "universal b";
  src: url("../../assets/fonts/sf-pro-display_bold.woff2") format("woff2");
}

@font-face {
  font-family: "hand write";
  src: url("../../assets/fonts/fasthand-regular.woff2") format("woff2");
}